<html>
    <%- include ./global-head.ejs %>
    <%- include('../style/get', {path: 'home'}); %>
    <%- include ./url-bar.ejs %>
    <body>
        <article>
            Hello World
        </article>
    </body>
</html>