<%- include ../style/url-bar.ejs %>
<header id="url-bar-header">
    <form id="url-form">
        <input id="url-bar" type="text" name="url" placeholder="Enter a URL..." />
        <button type="submit"><i class="material-icons">arrow_forward</i></button>
    </form>
    <% if (locals.home && locals.home !== false) { %>
        <a href="/netneutrality/home">
            <i class="material-icons">home</i>
        </a>
    <% } %>
</header>
<progress id="page-progress"></progress>