<header id="main-header">
    <header id="url-bar-header">
        <form id="url-form">
            <input id="url-bar" type="text" name="url" placeholder="Enter a URL..." />
            <button type="submit" id="url-enter"><i class="material-icons">arrow_forward</i></button>
        </form>
        <button type="button" id="home-button">
            <i class="material-icons">home</i>
        </button>
    </header>
    <progress id="page-progress"></progress>
</header>