<html>
    <head>
        <title>Telecom Browser</title>
        <%- include ../partials/content/global-head.ejs %>
    </head>
    <%- include ../partials/content/url-bar.ejs %>
    <body>
        <iframe></iframe>
        <div id="site-container"></div>
    </body>
</html>