<html>
    <%- include ../partials/content/global-head.ejs %>
    <%- include ../partials/content/url-bar.ejs %>
    <body>
        <article>
            Hello World
        </article>
    </body>
</html>