<html>
    <head>
        <%- include ../partials/content/global-head.ejs %>
    </head>
    <%- include ../partials/content/url-bar.ejs %>
    <body>
        <div id="site-container">

        </div>
    </body>
</html>