<!DOCTYPE html>

<html>

<head>

<!-- Global Head -->
<!-- Meta -->
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Net Neutrality in 2020">
<!-- Styles -->
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/netneutrality/css/global.css"/>
<!-- Scripts -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47261638-4', 'auto');
    ga('send', 'pageview');

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/netneutrality/js/global.js"></script>
<!-- End Global Head -->

<style>
body {
    font-family:"Roboto";
}
#div1, #div2, #div3{
    text-align: center;
    margin: auto;
    width: 30%;
    border: 1px solid #000000;
    padding: 15px;
}
#div4,#div5 {
    text-align:center;
    margin:auto;
    width:60%;
}
#div6 {
    text-align:center;;
    margin:auto;
    width:75%;
    background-color: rgb(109, 196, 109);
    padding:2px;
    border: 1px solid black;
}
#p01 {
    vertical-align:middle;
}
.row {
    width: 100%;
    text-align:center;
}
.block {
    width:20%;
    display: inline-block;
    height: 10%;
}

</style>
</head>

<body>
    <div id='div4'><h2 id='h01'>TELECOM VIDEO</h2></div>
    <div>
    <div id ='div1'><p1 id = 'p01'>Dora The<br>Explorer</p1></div>
    <div id ='div2'><p2>Tommy Wiseau's<br><i>The Room</i></p2></div>
    <div id ='div3'><p3>The Emoji<br>Movie</p3></div>
    </div>
    <div id ='div4'>
        <div id='div5'>
        <h4>And Many More!</h4>
        </div>
    </div>
    <div id='div6'>
        <p id='p01'>Purchase the Video Package for Only $3.99 extra per month!</p>
    </div>
    <div class='row'>
        <div class='block'>
            <p>Netflix</p>
            <img src='https://i-cdn.phonearena.com/images/article/90136-image/Netflix-integration-is-slowly-making-its-way-to-the-Apple-TV-app.jpg' width='67.31' height='67.31'>
        </div>
        <div class='block'>
            <p>Youtube</p>
            <img src='https://vignette.wikia.nocookie.net/logopedia/images/5/51/Youtube_2013_icon.png/revision/latest?cb=20131130214557' width='67.31' height='67.31'>
        </div>
        <div class='block'>
            <p>Twitch</p>
            <img src='https://is4-ssl.mzstatic.com/image/thumb/Purple118/v4/83/ce/e3/83cee3f7-b2ea-26d9-a8ef-bb765de2105a/TwitchAppIcon-1x_U007emarketing-85-220-0-6.png/1200x630bb.jpg' width='67.31' height='67.31'>
        </div>
        <div class='block'>
            <p>Hulu</p>
            <img src='http://media.idownloadblog.com/wp-content/uploads/2014/10/hulu-plus-1.png' width='67.31' height='67.31'>
        </div>
    </div>

</body>

</html>